:root {
  --font-size-small: 0.75rem;
  --font-size-medium: 0.8125rem;
  --font-size-large: 1.125rem;
  --font-size-code: 0.6875rem;

  --space-small: 0.375rem;
  --space-medium: 0.75rem;
  --space-large: 1.125rem;

  --radius-small: 0.375rem;

  --border-width: 0.0625rem;

  --line-height: 1.8;

  --target-min-height: 2.25rem;

  --color-background-default: #fcfcfd;
  --color-background-hover: #f9f9fb;
  --color-background-interactive: #f0f0f3;

  --color-border-default: #d9d9e0;
  --color-border-hover: #cdced6;
  --color-border-interactive: #b8bcba;

  --color-text-default: #1c2024;
  --color-text-muted: #8b8d98;

  --color-primary-background: #fefbe9;
  --color-primary-background-hover: #ffee9c;
  --color-primary-background-interactive: #ffee9c;
  --color-primary-border: #f3d673;
  --color-primary-border-hover: #e9c162;
  --color-primary-border-interactive: #e2a336;
  --color-primary-text: #4f3422;

  --color-danger-background: #fff7f7;
  --color-danger-background-hover: #ffdbdc;
  --color-danger-background-interactive: #ffced6;
  --color-danger-border: #fdbdbe;
  --color-danger-border-hover: #f4a9aa;
  --color-danger-border-interactive: #eb8e90;
  --color-danger-text: #641723;

  --ease: cubic-bezier(0.19, 1, 0.22, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--color-text-default);
  font-size: var(--font-size-medium);
  line-height: var(--line-height);
  font-family: system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-weight: 700;
  font-size: var(--font-size-large);
}

h2 {
  margin-top: var(--space-medium);
  font-weight: 600;
  font-size: var(--font-size-medium);
}

p {
  text-wrap: pretty;
}

b {
  font-weight: 500;
}

label {
  font-size: var(--font-size-small);
}

code {
  padding: 0.125rem 0.25rem;
  border-radius: var(--radius-small);
  background-color: var(--color-background-hover);
  font-size: var(--font-size-code);
  font-family: monospace, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="text"] {
  min-height: var(--target-min-height);
  padding: var(--space-small) var(--space-medium);
  border: var(--border-width) solid var(--color-border-default);
  border-radius: var(--radius-small);
  outline: none;
  background-color: var(--color-background-default);
  color: var(--color-text-default);
  font-size: var(--font-size-small);
  font-family: monospace, sans-serif;
  text-transform: uppercase;
  transition:
    border-color 180ms var(--ease),
    background-color 180ms var(--ease),
    color 180ms var(--ease);

  &::placeholder {
    color: var(--color-text-muted);
  }

  &:hover {
    border-color: var(--color-border-hover);
    background-color: var(--color-background-hover);
  }

  &:focus {
    border-color: var(--color-border-interactive);
    background-color: var(--color-background-interactive);

    &::placeholder {
      color: var(--color-text-default);
    }
  }
}

button {
  width: fit-content;
  min-height: var(--target-min-height);
  margin: 0;
  padding: var(--space-small) var(--space-medium);
  border: var(--border-width) solid var(--color-border-default);
  border-radius: var(--radius-small);
  background-color: var(--color-background-default);
  color: var(--color-text-default);
  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: 1;
  transition:
    transform 180ms var(--ease),
    border-color 180ms var(--ease),
    background-color 180ms var(--ease),
    color 180ms var(--ease);

  &:hover {
    border-color: var(--color-border-hover);
    background-color: var(--color-background-hover);
  }

  &:active {
    transform: scale(0.98);
    border-color: var(--color-border-interactive);
    background-color: var(--color-background-interactive);
  }

  &#clear {
    border-color: var(--color-danger-border);
    background-color: var(--color-danger-background);
    color: var(--color-danger-text);

    &:hover {
      border-color: var(--color-danger-border-hover);
      background-color: var(--color-danger-background-hover);
    }

    &:active {
      border-color: var(--color-danger-border-interactive);
      background-color: var(--color-danger-background-interactive);
    }
  }
}

.wrap {
  display: grid;
  width: 22rem;
  padding: var(--space-large);
  gap: var(--space-small);
}

.field {
  display: grid;
  gap: var(--space-medium);
}

.row {
  display: grid;
  margin-top: var(--space-small);
  gap: var(--space-small);

  &.gapless {
    gap: 0;
  }
}

.actions {
  margin-top: var(--space-small);
}

.check {
  display: flex;
  align-items: center;
  padding-left: calc(var(--space-small) - 0.125rem);
  gap: var(--space-small);
  font-size: var(--font-size-small);

  input[type="checkbox"] {
    margin: 0;
  }
}

.history {
  display: grid;
  min-height: var(--target-min-height);
  max-height: 12rem;
  overflow: hidden auto;
  gap: var(--space-small);
  border: var(--border-width) solid var(--color-border-default);
  border-bottom: none;
  border-radius: var(--radius-small);
  background-color: var(--color-background-default);
  transition:
    border-color 180ms var(--ease),
    background-color 180ms var(--ease);

  &:hover {
    border-color: var(--color-border-hover);
    background-color: var(--color-background-hover);
  }

  .item {
    display: grid;
    padding: var(--space-medium);
    gap: calc(var(--space-small) - 0.125rem);
    border-bottom: var(--border-width) solid var(--color-border-default);
    border-radius: var(--radius-small);
    background-color: var(--color-background-default);
    font-size: var(--font-size-small);

    .meta {
      display: flex;
      justify-content: space-between;
      gap: calc(var(--space-small) - 0.125rem);
      color: var(--color-text-muted);
      font-size: var(--font-size-code);
      font-family: monospace, sans-serif;

      span {
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
  }
}

.hint {
  margin-top: var(--space-small);
}

em {
  color: var(--color-text-muted);
  font-style: italic;
  font-size: var(--font-size-code);
}
